writing/2016/theory/redundant_reference.pdf
writing/2016/cogsci/refexp.pdf
*/.RData
*.bbl
*.blg
*.log
*.synctex.gz
*.aux
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store*
*catch_trials.csv
*subject_information.csv
*system.csv
*trials.csv
*allModelPreds.csv
*normalizedFreqLength.csv
*predictionsWithEmpiricalLength.csv
corpus_results/data/*
