writing/2016/theory/redundant_reference.pdf
writing/2016/cogsci/refexp.pdf
*/.RData
*/node_modules/
*.bbl
*.blg
*.log
*.synctex.gz
*.aux
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store*
*catch_trials.csv
*subject_information.csv
*system.csv
*trials.csv
*mturk.csv
*/mturk/
models/1_basic_overinformativeness/bdaOutput/*
models/basic_level_reference/allModelPreds.csv
*normalizedFreqLength.csv
church_playground
corpus_results/data/*
Caroline/5_OI_Final_Experiment2/results_round1/
Caroline/5_OI_Final_Experiment2/results_round2/
*.gitattributes
