*/writing/_2015/theory/redundant_reference.pdf
*/writing/2016/cogsci/refexp.pdf
*.bbl
*.blg
*.log
*.synctex.gz
*.aux
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store*
corpus_results/data/*
